@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-o-border-radius: $radius;
	border-radius: $radius;
}

.fluploader_wrapper{
	display: inline;
	position: relative;
	margin:0;
	padding:0;
	line-height:1;
}
.fluploader_swfdiv{
	top: 0px;
	left: 0px;
	margin:0;
	padding:0;
	line-height:1;
	position: absolute;
}

.uiButton{background:#eee url(/assets/fbutton.png) repeat 0 0;border:1px solid #999;border-bottom-color:#888;box-shadow:0 1px 0 rgba(0, 0, 0, .1);-webkit-box-shadow:0 1px 0 rgba(0, 0, 0, .1);cursor:pointer;display:-moz-inline-box;display:inline-block;font-size: 12px;font-weight:bold;line-height:normal !important;padding:2px 6px;text-align:center;text-decoration:none;vertical-align:top;white-space:nowrap}
.uiButton:hover{text-decoration:none}
.uiButton:active{background:#ddd;border-bottom-color:#999;box-shadow:0 1px 0 rgba(0, 0, 0, .05);-webkit-box-shadow:0 1px 0 rgba(0, 0, 0, .05)}
.uiButton .select-photo{background:none;border:0;color:#333;cursor:pointer;display:-moz-inline-box;display:inline-block;font-family:'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;font-size: 12px;font-weight:bold;margin:0;outline:none;padding:1px 0 2px;white-space:nowrap}

#photo{
  text-align:center;
  margin:0 auto;
}

.up-rect{
  width:120px;
  height:120px;
  background:rgba(0,0,0,.7);
  font-size:50px;
  text-align:center;
  font-weight:bold;
  color:white;
  margin-left:100px;
  line-height:110px;
  @include border-radius(10px)
}